<div>
  <hr/>
  用户名 : {{ name }}
  <hr/>
  年龄 :  {{ age }}
  <hr/>
  后年的年龄（插值表达式中可以使用算数运算符）: {{ age + 2 }}
  <hr/>
  成年了吗 （插值表达式中可以使用比较运算符）: {{ age >= 18 }}
  <hr/>
  成年了吗 （插值表达式中可以使用三目运算符） : {{ age >= 18 ? '成年' : '未成年' }}
  <hr/>
  在法定工作年龄吗 （插值表达式中可以使用逻辑运算符）: {{ age >= 18 && age <= 65 }}
  <hr/>
  用户名长度 （插值表达式中可以使用调用属性） : {{ name.length }}
  <hr/>
  用户名转成大写 （插值表达式中可以使用调用方法） : {{ name.toUpperCase() }}
  <hr/>
  用户名中下标为 2的字符 （插值表达式中可以使用调用方法） : {{ name[2] }}
  <hr/>
  当然插值表达式也是有一些不能使用的 ， 比如 直接new对象 和 JSON字符序列化 :
<!--  <hr/>-->
<!--  当前时间 （插值表达式中不能直接 new对象） :  {{ new Date() }}-->
<!--  <hr/>-->
<!--  JSON字符序列化 （插值表达式中不能直接 JSON字符序列化） :  {{ JSON.stringify({}) }}-->
  <hr/>
  <p title="{{ name }}">这是段落 ，设置它的title属性为 ts文件中的name , (使用插值表达式来属性绑定 , 不推荐)</p>
  <hr/>
  <p [title]="name">这是段落 ，设置它的title属性为 ts文件中的name , (使用属性绑定 , 推荐)</p>
  <hr/>
  <!--暂时没有找到事件处理函数的参数从 ts文件取到的方法-->
  <button (click) = "reduce(1)"></button>
  <hr/>
  <ul>
    <li  *ngFor  = "let star of starLists">
      {{ star }}
    </li>
    <hr/>
    <li  *ngFor  = "let star of starLists ; index as i">
      {{ i }} -> {{ star }}
    </li>
  </ul>
  <hr/>
  <div *ngIf = "isPaingUser">
    <p>
     此处内容为付费内容 ，只有当用户为付费用户时才可见
     ...
     ...
     ...
    </p>
  </div>

  <div *ngIf  = "personAge >= 18 ; else elseBlock">
    年龄大于 18 可见内容
  </div>
  <ng-template #elseBlock> //条件不满足时走 else , 使用 # 为元素指定 id , *ngIf 里只写 # 后面的id即可
  <div>
    年龄小于 18 可见内容
  </div>
  </ng-template>


</div>
